.git
.gitignore
.claude
.DS_Store

.env
.env.*
!.env.example

node_modules
dist
build
coverage
logs
logging
tmp
.tmp
.temp
uploads

docker/minio-data
docker/redis-data
docker/rabbitmq-data
docker/rabbitmq-log

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

docs
examples
scripts
*.xmind
